:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  -ms-interpolation-mode: nearest-neighbor;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-image:-webkit-image-set(
    url("./assets//img//bg.jpg") 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

html {
  padding: 0;
  margin: 0;
}