.product {
    width: 25vw;
    height: 50vh;
    border-radius: 15px;
}

.product img {
    margin: auto;
    width: 30%;
}

.product .more {
    background:none;
    color: black;
    font-size: large;
    border-radius: 50%;
}