.albumPage {
    display: flex;
}

.albumPage .AddNewIcon {
    max-height: 100px;
    margin-left: 100px;
}

.album {
    background-color: wheat;
    -moz-box-shadow: 0 0 5px black;
    -webkit-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
}