@font-face {
    font-family: LazyMonday;
    src: url(../../assets/font/LazyMonday.otf);
}

.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem;
}

.navbar a {
    font-family: LazyMonday;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}