@font-face {
    font-family: PublicSans;
    src: url(../../assets/font/PublicSans.ttf);
}

@font-face {
    font-family: LazyMonday;
    src: url(../../assets/font/LazyMonday.otf);
}

.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.4);
    color: #fff;
}

.navbar ul {
    font-family: PublicSans;
    font-size: 1rem;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    color: #7e95d4;
}

.navbar .pagename {
    font-family: LazyMonday;
    font-size: 2rem;
}

.NavContainer {
    display: flex;
    align-items: center;
    gap: 10rem;
}

.NavContainer .userIcon {
    width: 80px;
}