.HomePage {
    color: black;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #7e95d4;
}

.HomePage .Greeting-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.HomePage .Greeting-container .Greeting {
    background-color: #7e95d4;
    border: 1px solid black;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
}