@font-face {
    font-family: HelloSunday;
    src: url(../../assets/font/HelloSunday.otf);
  }
  

.webname h1 {
    font-family: HelloSunday;
    font-size: 7rem;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    margin-left: 1rem;
}

.register {
    font-size: 2rem;
    color: black;
    background-color: white;
    border-color: black;
}

.login {
    font-size: 2rem;
    color: white;
    background-color: black;
    border-color: white;
}