.RegForm label{
    color: black;
}

.RegForm input {
    width: 40vw;
    height: 3vh;
    border-radius: 15px;
    text-align: center;
}

.RegForm .submitButton {
    margin-top: 5vh;
}