.addAlbumPageForm input {
    width: 10vw;
    height: 3vh;
    border-radius: 15px;
    margin-bottom: 30px;
}

.addAlbumPageForm label {
    color: black;
}

.addAlbumPageForm .description {
    width: 10vw;
    height: 3vh;
    border-radius: 15px;
    height: 300px;
    text-align: top;
}