.products {
    display: flex;
    margin: auto;
    overflow:scroll;
}

.products ul {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.products li {
    color: black;
    background-color: aliceblue;
    list-style-position:inside;
    border: 3px solid black;
}